html, body {
  height:100%;
}
body {
  background-color: lightcoral;
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: white;
  box-shadow: none;
}
